.about-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 50px;
  align-items: center;
}

.about-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.about-image img {
  width: 100%;
  max-width: 420px;
  height: 420px;
  object-fit: cover;
  border-radius: 20px;
}